<div>
<h1 id="userCart" style="padding: 2%">Cart</h1>
<h4 id="cart">{{cart}}</h4>
<h4><a href="/session/profile">Back to profile</a></h4>
</div>

<div style="padding: 2%">
    <h1>Products:</h3>
    <div id="products-in-cart">
        {{#each products}}
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; border: solid 3px blue; width: 100%; heigth: 100%"> 
            <h2>{{this.title}}</h2>
            <img src={{this.thumbnail}} style="max-width: 100px; max-height: 200px">
            <h2>Quantity: {{this.quantity}}</h2>
            <button onclick="deleteProd('{{this.id}}')">Delete one</button>
        {{/each}}
        </div>
    </div>
</div>

<div>
    <h3>Do you want to complete the order?</h3>
    <button onclick="purchase()"><a href="/api/carts/{{cart}}/purchase">Purchase</a></button>
</div>

<script src="/js/cart.view.js"></script>