<h1>Welcome to E-commerce</h1>
<div id="bodyRT">
    <div id="products">
        <div id="dynamicProducts">
            <h2>Products list</h2>
                {{#each products }}
                <div id="{{this._id}}" style="display: flex; flex-direction: column; justify-content: center; align-items: center; border: solid 3px blue; width: 100%">
                    <h2>{{this.title}}</h2>
                    <img src={{this.thumbnail}} style="max-width: 100px; max-height: 200px">
                    <h3>Price: {{this.price}}</h4>
                    <p>Stock: {{this.stock}}</p>
                    <button onclick="deleteProduct("{{this._id}}")">Delete</button>
                </div>
                {{/each}}
        </div>
    </div>