<h4 id="{{user.email}}" class="currentAdmin">Current admin: {{user.email}}</h4>
<div id="bodyRT">
    <div id="products">
        <h1>Products list</h1>
        <div id="productManager">
                {{#each products.products }}
                <div id="{{this._id}}" style="display: flex; flex-direction: column; justify-content: center; align-items: center; border: solid 3px blue; width: 100%; heigth: 100%">
                    <h2>{{this.title}}</h2>
                    <img src={{this.thumbnail}} style="max-width: 100px; max-height: 200px">
                    <h3>Price: {{this.price}}</h4>
                    <p>Stock: {{this.stock}}</p>
                    <button onclick="deleteProduct('{{this._id}}')"> Delete </button>
                </div>
                {{/each}}
        </div>
    </div>

    <div class="chat">
        <h1>Chat online</h1>
            <div id="chat-box">
                {{#each messages}}
                <div class="oneUserMsg">
                    <h3>{{this.user}}</h3>
                    <p>{{this.message}}</p>
                </div>
                {{/each}}
            </div>
        <div>
            <input type="text" id="type-place" placeholder="Type your message...">
        </div>
    </div>

    <div id="formForNewProduct">
        <h1>Fill the form to upload a new product</h1>
        <form id="form.products">
            <label for="title">
                 Enter product title:
                <input type="text" name="title" id="title" placeholder="Title">
            </label>    
            <label for="description">
                 Enter product description:
                <input type="text" name="description" id="description" placeholder="Description">
            </label>
            <label for="price">
                 Enter product price:
                <input type="number" name="price" id="price" placeholder="Price">
            </label>
            <label for="stock">
                 Enter product stock:
                <input type="number" name="stock" id="stock" placeholder="Stock">
            </label>
            <label for="code">
                 Enter product code:
                <input type="text" name="code" id="code" placeholder="Code">
            </label>
            <label for="category">
                 Select category
                <select id="category">
                    <option value="Clothes">Clothes</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Bags">Bags</option>
                </select>
            </label>
            <label for="thumbnail">
                <input type="text" id="thumbnail" name="thumbnail" placeholder="URL">
            </label>
            <label for="send">
                <input type="submit" id="send" value="Send">
            </label>
        </form>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>